<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h2>HR Analytics & Attrition Dashboard</h2>

<div class="dashboard">

  <div class="card">
    <h3>Key Metrics</h3>
    <p>Total Employees: {{ total }}</p>
    <p>Average Salary: {{ salary }}</p>
    <p>Attrition Rate: {{ rate }}%</p>
  </div>

  <div class="card">
    <h3>Analytics Charts</h3>
    <img src="{{ url_for('static', filename='attrition.png') }}" width="100%">
    <img src="{{ url_for('static', filename='dept.png') }}" width="100%">
  </div>

  <div class="card">
    <h3>Predict Attrition</h3>
    <form method="POST">
      Age
      <input name="age" required>

      Salary
      <input name="salary" required>

      Years at Company
      <input name="years" required>

      Department
      <select name="dept">
        <option value="0">Finance</option>
        <option value="1">HR</option>
        <option value="2">IT</option>
        <option value="3">Sales</option>
      </select>

      Performance (1–5)
      <input name="perf" required>

      <button type="submit">Predict</button>
    </form>

    {% if prediction %}
    <div class="result">Result: {{ prediction }}</div>
    {% endif %}
  </div>

</div>
